.answer-button {
  margin-top: 10px;
}

.answer-button.correct {
  background: var(--success-color);
}

.answer-button.failure {
  background: var(--failure-color);
}

.picture-question {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.picture-question > img {
  margin: 16px 0;
  max-width: 200px;
  max-height: 200px;
  align-self: center;
}
